[submodule "OpenJPEG/openjpeg-v2.3.0"]
	path = OpenJPEG/openjpeg-v2.3.0
	url = https://github.com/uclouvain/openjpeg.git
[submodule "OpenJPEG/openjpeg2.5.3"]
	path = OpenJPEG/openjpeg2.5.3
	url = https://github.com/uclouvain/openjpeg.git
[submodule "OpenJPEG/pocRep"]
	path = OpenJPEG/pocRep
	url = https://github.com/pic4xiu/pocRep.git
